
@font-face {
    font-family: "Disney";
    src: url("../fonts/FjallaOne-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    background-color: #2f2757;
    font-family: "Disney";
}

html {
    scroll-behavior: smooth;
}




/* ------------------------------------------------------ */
/*                        Menu                            */
/* ------------------------------------------------------ */

#menu,.characters{
    width: 100%;
    display: none;
}

#menu{
    height: 1180px;
    z-index: 2;
    background: linear-gradient(0deg, black, #2f2757,#2f2757);
}

#menu > h1{
    color: white;
    background-color: rgba(0,0,0,0);

    font-size: 8em;
    text-align: center;

    margin-left: 5%;
    width: 90%;
    padding-top: 40%;

}

#menu > .btn-space{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0);  
}

#menu > .btn-space > button{
    color: black;
    background-color: #d6d4de;

    font-size: 3em;
    text-align: center;

    margin-top: 100px;
    padding: 15px 0;
    width: 30%;

    border-radius: 50px;
}

/* ------------------------------------------------------ */
/*                Characters Selection                    */
/* ------------------------------------------------------ */


#character_selection{
    display: none;
    flex-direction: column;

    text-align: center;
    font-size: 1em;
    color: whitesmoke;

}

#character_selection_title{
    margin-left: 5%;
    width: 90%;
    font-size: 3em;
    padding: 25px 0;
    padding-top: 35px;

    border-bottom: 5px white solid;
 
}

.characters_container{
    display: flex;
    justify-content: space-evenly;
    margin: 15px 0;
}

#continue_selection{
    color: black;
    background-color: #d6d4de;

    font-size: 3em;
    text-align: center;

    margin: 50px 0;
    padding: 15px 0;
    width: 30%;

    border-radius: 50px;
}

.character_profile > h2{
    font-size: 2.5em;
    width: 250px;
    height: 50px;

    margin-top: 15px;
}

.large_container > .character_profile > h2{
    font-size: 2.5em;
    width: 250px;
    height: 100px;

    margin-top: 15px;
}

#wallpapers > img{
    display: none;
}

/* ------------------------------------------------------ */
/*                     FxFDisplay                         */
/* ------------------------------------------------------ */

#fxf_display{
    display: none;
    flex-direction: column;

    text-align: center;
    font-size: 1em;
    color: whitesmoke;
}

#fxf_title{
    margin-left: 5%;
    width: 90%;
    font-size: 4em;
    padding: 25px 0;
    padding-top: 35px;
    margin-bottom: 50px;

    border-bottom: 5px white solid;
}

.upper_section{
    display: flex;
    justify-content: space-evenly;
    margin: 15px 0;
}

.lower_section{
    display: flex;
    justify-content: space-evenly;
    margin: 15px 0;
}

.character_profile_fxf{
    display: none;
}

.character_profile_fxf > h2{
    font-size: 2.5em;
    width: 250px;
    height: 50px;
}

.large_container > h2{
    font-size: 2.5em;
    width: 250px;
    height: 100px;
}

.lower_section > div > h2{
    font-size: 4em;
    width: 250px;
}

#wallpapers_fxf > img{
    display: none;
}

#reset_game{
    display: none;
    color: black;
    background-color: #d6d4de;

    font-size: 3em;
    text-align: center;

    margin: 50px 0;
    padding: 15px 0;
    width: 60%;

    border-radius: 50px;
}
