*{
    margin: 0;
    padding: 0;
    background-color: #2f2757;
}

html {
    scroll-behavior: smooth;
}

/* ------------------------------------------------------ */
/*                        Menu                            */
/* ------------------------------------------------------ */

#menu,.characters{
    width: 100%;
    display: none;
}

#menu{
    height: 1180px;
    z-index: 2;
    background: linear-gradient(0deg, black, #2f2757,#2f2757);
}

#menu > h1{
    color: white;
    background-color: rgba(0,0,0,0);

    font-size: 6em;
    text-align: center;

    width: 100%;
    padding-top: 40%;

}

#menu > .btn-space{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0);  
}

#menu > .btn-space > button{
    color: black;
    background-color: #d6d4de;

    font-size: 3em;
    text-align: center;

    margin-top: 100px;
    padding: 15px 0;
    width: 30%;

    border-radius: 50px;
}

/* ------------------------------------------------------ */
/*                Characters Selection                    */
/* ------------------------------------------------------ */


#character_selection{
    display: none;
    flex-direction: column;

    text-align: center;
    font-size: 1em;
    color: whitesmoke;

}

#character_selection_title{
    font-size: 4em;
    padding: 25px 0;

 
}

.characters_container{
    display: flex;
    justify-content: space-evenly;
    margin: 15px 0;
}

#continue_selection{
    color: black;
    background-color: #d6d4de;

    font-size: 3em;
    text-align: center;

    margin: 50px 0;
    padding: 15px 0;
    width: 30%;

    border-radius: 50px;
}

/* ------------------------------------------------------ */
/*                     FxFDisplay                         */
/* ------------------------------------------------------ */

#fxf_display{
    display: none;
    flex-direction: column;

    text-align: center;
    font-size: 1em;
    color: whitesmoke;
}

.upper_section{
    display: flex;
    justify-content: space-evenly;
    margin: 15px 0;
}

.lower_section{
    display: flex;
    justify-content: space-evenly;
    margin: 15px 0;
}

.character_profile_fxf{
    display: none;
}




